<!-- Disables text so phishping/speaphisphing links don't work unless admin copies and pastes into browser. -->
<script>
  $(function(){
    $('.disabled-text').on('click',function(event){
        event.preventDefault();
    }).removeClass('disabled');
  });
</script>

<h1>Message <%= @message.id %></h1>
<div class="disabled-text">
  <div>
    <strong>Name:</strong>
    <%= sanitize @message.name %>
  </div>
  
  <div>
    <strong>Email:</strong>
    <%= sanitize @message.email %>
  </div>

  <div class="disabled">
    <strong>Message:</strong>
    <%= sanitize @message.message %>
  </div>
</div>

<br>
<%= link_to 'Destroy', @message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %>
<%= link_to 'Back', messages_path, class: 'btn btn-success btn-block' %>
