<div class="blog-article">
  <h2 class="blog-article-title"><%= @article.title %> </h2>
  <p class="blog-article-meta text-center">
    <%= @article.created_at.strftime("%b. %d %Y") %>
  </p>
  <div class="container text-center">
    <%= rails_social_share_button_tag(@article.title) %>
  </div>
  <br>
  <div class="container text-center">
    <img src="<%= @article.image %>" alt="<%= @article.title %>">
  </div>
  <p><%= @article.content %> </p>
</div>

<% if current_user && current_user.admin? %> 
<%= link_to 'Edit', edit_article_path(@article), class: 
'btn btn-warning btn-block' %> 
<% end %> 