<%= render 'layouts/article_search_form' %> 
<%= render 'layouts/pagy_nav' %> 
  
<div id="articles" class="container-fluid gallery bg-faded">
  <div class="album py-5">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <img src="<%= article.image %>" alt="<%= article.title %>">
            <div class="card-body text-center">
              <p class="card-text"><%= article.title.truncate(30) %> </p>
              <p><%= article.created_at.strftime("%b. %d %Y") %> </p>
              <%= link_to 'Read', article, class: 'btn btn-success btn-block' %>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/pagy_nav' %> 
